<%= form_with model: transaction, url: category_transactions_path, :html => {:class => 'form', :id => 'form' }  do |form| %>

      <div class="field">
         <%= form.select :category_id, categories.collect { |category| [category.name, category.id]} %><br />
      <div>
       <div class="field">
        <%= form.text_field :name, autofocus: true, autocomplete: "text", placeholder: "Enter transaction name" %>
        <% transaction.errors.full_messages_for(:name).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
      <div class="field">
        <%= form.number_field :amount, autofocus: true, placeholder: "Enter Amount" %>
        <% transaction.errors.full_messages_for(:amount).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

       <div class="actions">
      <%= form.submit "Add", class: 'category-btn'%>
    </div>
<% end %>
